{% load static %}
<script src="{% static 'js/head.js' %}"></script>

<script src="{% static 'customjs/checkbox.js' %}"></script>
<script src="{% static 'customjs/custom.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJ+Y2VdQ6vbVd+LqgDPAzEze1Y4kQEqkP6QA0="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Vendor -->
<script src="{% static 'libs/jquery/jquery.min.js"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>

<!-- Apexcharts JS -->
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/5.3.3/apexcharts.min.js" integrity="sha512-Jv/XSvfIZSOfqdoMuXtMsZ2UJnXSLBT2jIFT9gcL4BtwR0y99tNm6DNMiE5ZJAMdivEHP83/JANyKQEXCVNmeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Widgets Init Js -->
<script src="{% static 'js/pages/crm-dashboard.init.js' %}"></script>

<!-- App js-->
<script src="{% static 'js/app.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
