{% load static %}

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha512-IqtQ7LKr3He47p7HjxynmqZfN07VljNkdGyGDdDJ//f1r6bT0IEKQf2CCtSgun/pvbFlNnPDMRrMSQhmSxmSSg=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
<!-- App css -->
<link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style"/>

<!-- Icons -->
<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css"/>