{% extends 'common/base.html'%}
{% load static %}
{% block main %}

<!-- partial -->
<div class="container-fluid ">
    <div class="row mt-5 ">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
                        <!-- Left: Title -->
                        <h4 class="card-title mb-0 me-3">All Quotation List</h4>

                        <!-- Right: Search form + Add button -->
                        <form method="GET" class="d-flex align-items-center flex-nowrap gap-2">
                            <input type="text" name="search" value="{{ request.GET.search }}"
                                   class="form-control form-control-sm"
                                   placeholder="Search leads..."
                                   style="width: 200px;"/>

                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                <i class="icon-search"></i> Search
                            </button>

                            <a href="{% url 'add-customer' %}" class="btn btn-sm btn-success">
                                <i class="icon-plus"></i> Add New Customer
                            </a>
                        </form>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-description mb-0">All submitted listed below</p>
                        <div>
                            <button  class="btn btn-sm btn-outline-primary">
                                <i class="icon-pencil"></i>  Edit
                            </button>
                            <button  class="btn btn-sm btn-outline-danger">
                                <i class="icon-trash"></i>  Delete all
                            </button>
                        </div>
                    </div>

                    <!-- Table Responsive Wrapper -->
                    <div class="table-responsive" style="overflow-x: auto; margin-top:10px;">
                        <table class="table excel-table table-sm table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>
                                    <input type="checkbox" id="selectAll">
                                </th>
                                <th>Quotation Number</th>
                                <th>Client Name</th>
                                <th>Company</th>
                                <th>Terms</th>
                                <th>Tax</th>
                                <th>Subtotal</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Due date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quotationlist in quotationlists %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="rowCheckbox" value="{{ client.id }}">
                                </td>
                                <td>{{ quotationlist.quotation_number }}</td>
                                <td>{{ quotationlist.client }}</td>
                                <td>{{ quotationlist.company }}</td>
                                <td>{{ quotationlist.terms }}</td>
                                <td>{{ quotationlist.tax }}</td>
                                <td>{{ quotationlist.subtotal }}</td>
                                <td>{{ quotationlist.total }}</td>
                                <td>{{ quotationlist.date }}</td>
                                <td>{{ quotationlist.due_date }}</td>

                                <td>{{ quotationlist.created_at|default:"-" }}</td>
                                <td>{{ quotationlist.created_at|default:"-" }}</td>


                                <!--                                <td>-->
                                <!--                                    <a href="{% url 'edit-customer'  %}"-->
                                <!--                                       class="btn btn-sm btn-outline-primary">Edit</a>-->
                                <!--                                </td>-->
                                <!--                                <td>-->
                                <!--                                    <form action="{% url 'delete-customer' %}" method="post">-->
                                <!--                                        {% csrf_token %}-->
                                <!--                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>-->
                                <!--                                    </form>-->
                                <!--                                </td>-->
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="12" class="text-center text-muted">No leads available.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>



{% endblock %}




